 
.dashboard-container{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .dashboard-content {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
  }
  
  /* Header Styles */
  .dashboard-header {
    display: flex;
    justify-content: space-between;
  
  }
  
  .dashboard-search-input {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .dashboard-search-input:focus {
  
    outline: none;
   border: 2.5px solid #2a8ef9;
  }
  
  /* Table Styles */
  .dashboard-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6; /* Add border outline */
  }
  
  .dashboard-table-head {
    background-color: #343a40;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  
  .dashboard-table-head td {
    padding: 20px;
    border: 1px solid #343a40;
    text-align: center;
  }
  
  .dashboard-table-head td:first-child {
    border-top-left-radius: 10px;
  }
  
  .dashboard-table-head td:last-child {
    border-top-right-radius: 10px;
  }
  
  .dashboard-table-cell {
    padding: 25px;
    border-bottom: 1px solid #5153548a;
    font-size: 18px;
    color: #333333;
    text-align: center;
    font-weight: 800;
  }
  
  .dashboard-table-row {
    transition: background-color 0.3s ease;
  }
  
  .dashboard-table-row:hover {
    background-color: #f5f5f5;
  }
  
  .dashboard-delete-icon {
    cursor: pointer;
    color: #dc3545;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .dashboard-delete-icon:hover {
    color: #bd2130;
  }
  
  
  .dashboard-delete-icon {
  cursor: pointer;
  font-size: 16px;
  }
  
  .dashboard-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #343a40;
  padding-left: 15px;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  }
  
  .dashboard-pagination-text {
  
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  }
  
  .dashboard-pagination-right {
  display: flex;
  align-items: center;
  }
  
  .dashboard-pagination-dropdown select {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  }
  
  .dashboard-pagination-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  color: #ffffff;
  }
  
  .dashboard-pagination-button:disabled {
  
  opacity: 0.5;
  }
  
  .dashboard-table-row:last-child .dashboard-table-cell {
  border-bottom: none; 
  }
  
  .dashboard-view-icon {
  cursor: pointer;
  font-size: 20px;
  color: black;
  transition: color 0.3s ease;
  }
  
  .dashboard-table-no-data {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: black;
  }
  
  
  /* Center the modal and adjust width and height */
.modal-box {
    position: absolute;
   margin-top: 22%;
   margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust width to 80% of the viewport width */
    height: fit-content; /* Set height to 40% of the viewport height */
    max-width: 1200px; /* Maximum width to prevent it from getting too wide */
    overflow-y: auto; /* Add scroll if content exceeds the height */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Ensure that the buttons in the modal are spaced properly */
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 10px;
  }
  /* toastStyles.css */

  