.attendance-container {
    margin-top: 10px;
   
    border-radius: 5px;
    margin-left: 30px;
   
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow:scroll;
    overflow-x: hidden;
    
    border-radius: 10px;
  }
  
  /* File upload input */
  .file-upload-input {
    display: none;
  }
  
  /* Upload section */
  .upload-section {
    height: 150px;
    width:100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-section center {
    margin-top: 20px;
  }
  
  .upload-section h3 {
    margin-top: 10px;
  }
  
  .upload-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 300;
    font-style: bold;
    width: 100px;
    height: 40px;
  }
  
  
  .table-section {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* .scrollable-table {
    overflow-y: scroll;
    max-height: 400px; 
  } */
  

  /* Submit button */
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
 
  }
  
  /* attendance.css */
  
  /* Modal */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    width: 400px;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover{
    background-color:red ;
  }
  

  
  .dashboard-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #343a40;
    padding-left: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .dashboard-pagination-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  
  .dashboard-pagination-right {
    display: flex;
    align-items: center;
  }
  
  .dashboard-pagination-dropdown select {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .dashboard-pagination-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    color: #ffffff;
  }
  
  .dashboard-pagination-button:disabled {
    opacity: 0.5;
  }
  
  .dashboard-table-row:last-child .dashboard-table-cell {
    border-bottom: none; 
  }
  
  .dashboard-view-icon {
    cursor: pointer;
    font-size: 20px;
    color: black;
    transition: color 0.3s ease;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0; /* Rounded corners for the top-left and top-right */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table-header {
    background-color: #343a40;
    color: #fff;
    text-align:center;
    font-weight: 700;
    padding: 15px;
    border-bottom: 2px solid #333;
    text-transform: uppercase;
  }
  
  .table-row {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
  }
  
  .table-row:hover {
    background-color: #f1f1f1;
  }
  
  .table-cell {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #333;
    font-size: 19px;
    font-weight: 700;
  }
  
  .table-cell:first-child {
    border-left: 4px solid #007bff;
  }
  
  .table-cell:last-child {
    border-right: none;
  }
  
  .table-header:first-child,
  .table-cell:first-child {
    border-left: none;
  }
  
  .table-header:last-child,
  .table-cell:last-child {
    border-right: none;
  }
  