.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
  
  .header-k {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  
  .header-info {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }
  
  .header-info h2 {
    font-size: 20px;
    margin-top: 5px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 2px solid #ddd;
    font-size: 16px;
    min-height: 600px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  

  
  .table th {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .table th.day-time {
    background-color: #343a40;
    color: #ffffff;
    font-weight: 600;
  }
  
  .table th.time {
    background-color: #6c757d;
    color: #ffffff;
    font-weight: 600;
  }
  
  .table tbody tr {
    background-color: #f8f9fa;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
  }
  
  .table td {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: center;
 font-weight: 800;
  }
  
  .table td.day {

    background-color: #6c757d;
    color: #ffffff;
  }
  
  .table td.subject {
    margin-bottom: 10px;
    padding: 10px;
    color: black;
    border-radius: 5px;

  }
  