.container-1{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 34px 0;
    margin-top: 35px;
  }
  
  .header-k {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  
  .header-info {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }
  
  .header-info h2 {
    font-size: 20px;
    margin-top: 5px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 2px solid #ddd;
    font-size: 16px;
    min-height: 600px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  

  
  .table th {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .table th.day-time {
    background-color: #343a40;
    color: #ffffff;
    font-weight: 600;
  }
  
  .table th.time {
    background-color: #6c757d;
    color: #ffffff;
    font-weight: 600;
  }
  
  .table tbody tr {
    background-color: #f8f9fa;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
  }
  
  .table td {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: center;
 font-weight: 800;
  }
  
  .table td.day {

    background-color: #6c757d;
    color: #ffffff;
  }
  
  .table td.subject {
    margin-bottom: 10px;
    padding: 10px;
    color: black;
    border-radius: 5px;

  }

  
.dashboard-container{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.dashboard-content {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
}

/* Header Styles */
.dashboard-header {
  display: flex;
  justify-content: space-between;

}

.dashboard-search-input {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 14px;
  transition: all 0.3s ease;
}

.dashboard-search-input:focus {

  outline: none;
 border: 2.5px solid #2a8ef9;
}

/* Table Styles */
.dashboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6; /* Add border outline */
}

.dashboard-table-head {
  background-color: #343a40;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.dashboard-table-head td {
  padding: 20px;
  border: 1px solid #343a40;
  text-align: center;
}

.dashboard-table-head td:first-child {
  border-top-left-radius: 10px;
}

.dashboard-table-head td:last-child {
  border-top-right-radius: 10px;
}

.dashboard-table-cell {
  padding: 25px;
  border-bottom: 1px solid #5153548a;
  font-size: 18px;
  color: #333333;
  text-align: center;
  font-weight: 800;
}

.dashboard-table-row {
  transition: background-color 0.3s ease;
}

.dashboard-table-row:hover {
  background-color: #f5f5f5;
}

.dashboard-delete-icon {
  cursor: pointer;
  color: #dc3545;
  font-size: 18px;
  transition: color 0.3s ease;
}

.dashboard-delete-icon:hover {
  color: #bd2130;
}


.dashboard-delete-icon {
cursor: pointer;
font-size: 16px;
}

.dashboard-pagination {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0px;
background-color: #343a40;
padding-left: 15px;
border-bottom-left-radius: 10px; 
border-bottom-right-radius: 10px;
}

.dashboard-pagination-text {

color: #ffffff;
font-size: 16px;
font-weight: 600;
}

.dashboard-pagination-right {
display: flex;
align-items: center;
}

.dashboard-pagination-dropdown select {
margin-left: 10px;
padding: 5px;
font-size: 14px;
border-radius: 4px;
border: 1px solid #ddd;
}

.dashboard-pagination-button {
background-color: transparent;
border: none;
cursor: pointer;
padding: 5px;
margin-left: 10px;
color: #ffffff;
}

.dashboard-pagination-button:disabled {

opacity: 0.5;
}

.dashboard-table-row:last-child .dashboard-table-cell {
border-bottom: none; 
}

.dashboard-view-icon {
cursor: pointer;
font-size: 20px;
color: black;
transition: color 0.3s ease;
}



  