.manual-container {
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group .input-box,
.form-group .custom-select {
    width: 100%;
}

.center-button {
    text-align: center;
    margin-top: 20px;
}
.bulk-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.row{
    display: flex;
  gap: 15px;
    margin-bottom: 15px;  
}
.modal-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
  
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-description {
    margin-top: 10px;
}

.modal-description.error {
    color: red;
}
